# Archivo .gitignore para proyecto WebSGV
# Ignorar file de conexión local
/connectionStrings.Local.config

# Logs y temporales
/WebSGV/App_Data/**/tmp*
*.log

# Paquetes y binarios
/bin/
/obj/
*.user
*.suo

# Archivos de Visual Studio
.vs/
*.userprefs

# Archivos generados
**/*.cache

# Archivos de despliegue locales
/PublishProfiles/

# node modules si aplica
/node_modules/
